@model HospitalMVC.Models.Patient

<h2>Add Patient</h2>
<form method="post">
    Name: <input type="text" name="Name" /><br />
    Email: <input type="email" name="Email" /><br />
    <button type="submit">Save</button>
</form>
